<footer class="footer-wrapper">
  <div id="newsletter" class="newsletter-slug">
    <h2>Newsletter</h2>
    <p>Stay connected and get updates for more news subscribe here</p>
  </div>
  {% include newsletter-form.html %}
  <div class="footer-social-links">
    <a href="{{ site.github_path }}" target="_blank" class="social-icon-wrap footer-github-wrapper"></a>
    <a href="{{ site.facebook_path }}" target="_blank" class="social-icon-wrap footer-facebook-circular-logo-wrapper"></a>
    <a href="{{ site.instagram_path }}" target="_blank" class="social-icon-wrap footer-instagram-wrapper"></a>
  </div>
  <a href="mailto:{{ site.email }}" class="footer-email">{{ site.email }}</a>
</footer>